<div class="centered-container">
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-form-field appearance="outline" class="responsive-width">
        <mat-label>Paster your URL here</mat-label>
        <input
          matInput
          placeholder="Paste your URL here"
          [formControl]="userUrl"
        />
      </mat-form-field>
      <div class="button-container">
        @if(!urlGenerated){
        <button mat-stroked-button (click)="shortenUrl()">Shorten url</button>
        } @else{
        <button mat-stroked-button (click)="clear()">Clear</button>
        }
      </div>
      @if(urlGenerated && shortenedUrl){
      <mat-divider></mat-divider>
      <div style="display: flex; flex-direction: column; align-items: center">
        <div>
          <button mat-flat-button (click)="copyToClipBoard()">
            <mat-icon>link</mat-icon>
            {{ shortenedUrl }}
          </button>
        </div>
        <div>
          <qrcode
            [qrdata]="shortenedUrl"
            [width]="256"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
        </div>
      </div>
      <p>Note: All urls will expire in </p>
      }
    </mat-card-content>
  </mat-card>
</div>
